@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

html {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

body * {
  box-sizing: border-box;
}

pre {
  margin: 0;
  padding: 0;
}

a {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.scroll-data {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.scroll-data__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.data-item {
  padding: 5px;
  flex: 0 0 25%;
}

.data-item__inner {
  padding: 20px;
  background-color: #f3f3f3;
}

.data-item__label {
  font-weight: bold;
  margin-bottom: 10px;
}

.data-item__value {
  font-variant-numeric: tabular-nums;
}

.page-container {
  width: 1020px;
  margin: 0 auto 250px;
  padding: 20px;
  line-height: 2;
}

@media (max-width: 1000px) {
  .scroll-data {
    padding: 20px;
  }

  .data-item {
    flex: 0 0 50%;
  }
}
